@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --gradient-bg-color-1: #140024;
        --gradient-bg-color-2: #2d0f55;
        --gradient-bg-color-3: #480862;
        --gradient-bg-color-4: #140024;
    }
}
