---
import QueryDevToolsWrapper from '@/components/QueryDevToolsWrapper';

import Head from '@layouts/global/Head.astro';
import ParticleBackground from '@/components/ParticleBackground';
import Container from '@/components/Container';

import '@/global.css';

const devEnv = import.meta.env.DEV;

type Props = {
    children: any;
    title: string;
    description?: string;
    pageClass?: string;
};

const {
    title,
    description = 'Enter NeonSpace - A digital portfolio where Timothy Enderson weaves code into art, shares tech insights through blogging, and showcases innovative projects that push creative boundaries',
    pageClass = '',
} = Astro.props as Props;
---

<!doctype html>
<html lang='en'>
    <Head title={title} description={description} />
    <body class='body-gradient'>
        <ParticleBackground client:load transition:persist/>
        <Container>
            <main class={`${pageClass} min-h-dvh`}>
                <slot />
            </main>
            {devEnv && <QueryDevToolsWrapper client:load />}
        </Container>
    </body>
</html>
