---
import Layout from '@layouts/RootLayout.astro';
---

<Layout
    title='Home'
    description='Enter NeonSpace - A digital portfolio where Timothy Enderson weaves code into art, shares tech insights through blogging, and showcases innovative projects that push creative boundaries'>
    <h1 class='~text-xs/8xl'>W.I.P</h1>
</Layout>
