---
import Layout from '@layouts/global/RootLayout.astro';

import Hero from '@/components/Home/Sections/Hero';
import Stats from '@/components/Home/Sections/Stats';
---

<Layout
    title='Home'
    pageClass='flex flex-col items-center justify-center'>
    <Hero client:load />
    <Stats client:load />
    <a href="/querytest" class="text-white text-9xl">Query stuff</a>
</Layout>
