---
export const prerender = true;

import Layout from '@/layouts/global/RootLayout.astro';
import Container from '@/components/Layout/Container';
---

<Layout title='WIP'>
    <Container className='flex h-svh flex-col items-center justify-center text-center'>
        <h1 class='~text-5xl/8xl'>W.I.P</h1>
        <p class='~text-4xl/8xl'>This area is under construction</p>
        <a href='/' class='mt-4 text-blue-500 ~text-3xl/7xl hover:underline'>Return to Homepage</a>
    </Container>
</Layout>
